* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans";
  background: var(--bg-main);
}

li {
  list-style: none;
}

/* =============== ENTRY PAGE =============== */

.entry-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 100vh;
  margin: 0rem 10rem;
  padding: 0rem 3rem;
}

a {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--text-primary);
}

.logo img {
  width: 15rem;
}

.entry-page-container main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.entry-message {
  color: var(--text-primary);
  text-align: center;
}

.entry-message h2 {
  font-size: 5.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.entry-message p,
.signin-page-container p {
  font-size: 2rem;
  font-weight: 300;
  color: var(--text-primary);
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.signin-btn {
  display: inline-block;
  padding: 1rem 4rem;
  border-radius: 1.4rem;
  background: var(--cta-bg-primary);
  color: var(--cta-text-primary);
}

.signin-btn:hover {
  background: var(--cta-bg-primary-hover);
  color: var(--cta-text-primary-hover);
  border: 1.5px solid var(--cta-text-primary-hover);
}

/* =============== LOGIN PAGE =============== */
.signin-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 100vh;
  margin: 0rem 7rem;
  padding: 2rem 0rem;
}

.signin-page-container h2 {
  font-size: 4.5rem;
  font-weight: 500;
  color: var(--text-primary);
  margin-bottom: 1rem;
}

.forgot-password {
  font-size: small;
  font-weight: 300;
  text-decoration-line: underline;
  text-align: right;
  color: var(--text-accent);
}

.signin-page-container .trust-msg {
  text-align: center;
  font-size: 1.2rem;
}

/* =============== DASHBOARD =============== */
.dashboard-container {
  color: var(--text-primary);
}
