.signup-link,
.signin-link {
  color: var(--text-primary);
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
}

.signin-page-container header,
.branding-and-trust-panel header {
  text-align: center;
}

footer {
  margin-top: 8rem;
  color: var(--text-secondary);
  font-size: 1.2rem;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  background: var(--bg-maincard);
  border-radius: 1.5rem;
}

.section .section-title {
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 45%;
}

.form-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form label {
  color: var(--text-primary);
  font-size: 1.8rem;
  font-weight: 300;
}

form input {
  width: 100%;
  border: none;
  padding: 1rem 2rem;
  border-radius: 1.4rem;
  font-family: inherit;
  color: var(--text-primary);
  background-color: transparent;
  border: 2px solid var(--text-secondary);
}

.form-item #password::placeholder,
.form-item #confirm-password::placeholder {
  font-size: 4rem;
  letter-spacing: 1rem;
}

.form-item #password,
.form-item #confirm-password {
  letter-spacing: 1rem;
}

.form-btn-container {
  width: 100%;
  text-align: center;
}

form button {
  border: none;
  padding: 1rem;
  border-radius: 1.4rem;
  width: 100%;
  font-size: 1.8rem;
  font-family: inherit;
  background: var(--cta-bg-primary);
  color: var(--cta-text-primary);
  cursor: pointer;
}

form button:hover {
  background: var(--cta-bg-primary-hover);
  color: var(--cta-text-primary-hover);
  border: 1.5px solid var(--cta-text-primary-hover);
}
