.signup-link,
.signin-link {
  color: var(--text-primary);
  font-size: 1.8rem;
  font-weight: 300;
}

footer {
  margin-top: 8rem;
  color: var(--text-secondary);
  font-size: 1.2rem;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  background: var(--bg-maincard);
  border-radius: 1.5rem;
}

.section .section-title {
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 50%;
}

.form-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form label {
  color: var(--text-primary);
  font-size: 1.8rem;
  font-weight: 300;
}

form input {
  width: 100%;
  border: none;
  padding: 1rem 2rem;
  border-radius: 1.4rem;
  font-family: inherit;
  color: var(--text-primary);
  background-color: transparent;
  border: 2px solid var(--text-secondary);
}
