.signup-link,
.signin-link {
  color: var(--text-primary);
  font-size: 1.8rem;
  font-weight: 300;
}

footer {
  margin-top: 8rem;
  color: var(--text-secondary);
  font-size: 1.2rem;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  background: var(--bg-maincard);
  border-radius: 1.5rem;
}

.section .section-title {
  font-size: 2rem;
}
