/* ======== SIDEBAR ======== */

.sidebar-nav {
  min-height: 100vh;
  width: 25rem;
  padding: 2rem;
  color: var(--text-secondary);
  background: var(--bg-maincard);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.sidebar-nav .toggle {
  position: absolute;
  top: 5%;
  right: -1.3rem;
  font-size: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
  background-color: var(--primary-color);
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.hamburger {
  display: none;
}

.sidebar-nav .brandname-and-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.sidebar-nav .brandname-and-logo img {
  width: 4rem;
  border-radius: 20%;
}

.sidebar-nav .brandname-and-logo p {
  color: var(--text-primary);
  font-size: 2rem;
  font-weight: 700;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 25rem;
}

.main-menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-menu .dashboard-tab {
  background-color: var(--primary-color);
  color: var(--text-primary);
  border-radius: 1rem;
  padding: 1.5rem;
}

.inactive-menu-item a {
  margin-left: 1.5rem;
  transition: var(--trans-03);
}

.dropdown {
  position: relative;
}

.settings {
  border: none;
  color: inherit;
  font-size: 1.5rem;
  font-family: inherit;
  background: none;
  margin-left: 1.5rem;
  cursor: pointer;
  display: flex;
  border-radius: 1rem;
  padding: 1.5rem 0;
  transition: var(--trans-04);
}

.settings-menu {
  display: none;
  padding: 0.5rem 0;
}

/* ---------- Dropdown Styling ---------- */
.settings li a {
  display: block;
  padding: 2.7rem 1.2rem;
}

.settings-menu li a:hover {
  background: var(--bg-topcard);
  padding: 1.2rem;
  border-radius: 0.8rem;
}

.dropdown.active .settings-menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 1.5rem;
}

.dropdown.active .fa-chevron-down {
  transform: rotate(180deg);
}

.fa-chevron-down {
  transition: transform 0.2s ease;
}
/* ---------------------------------------- */

.inactive-menu-item a:hover,
.settings:hover {
  color: var(--cta-text-primary-hover);
}

.settings span {
  margin-left: 1rem;
}

.fa-chevron-down {
  margin-left: 6rem;
}

.main-menu a {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-secondary);
}

.sidebar-footer {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.other-menu {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  color: var(--text-accent);
  cursor: pointer;
}

.brand-msg {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.brand-msg span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-primary);
}

.brand-msg img {
  width: 2rem;
  border-radius: 0.3rem;
}

.brand-msg p {
  font-size: 0.85rem;
}

/* ======== MAIN CONTENT ======== */

.dashboard-main-content {
  height: 100vh;
  flex-grow: 1;
  margin-left: 25rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.dashboard-main-content header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.welcome-msg img {
  width: 4rem;
  border-radius: 1rem;
  display: none;
}

.welcome-msg h3 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.welcome-msg p {
  font-size: 1.4rem;
  color: var(--text-secondary);
}

.mobile-txt {
  display: none;
}

.search-bar-container {
  width: 100%;
  display: flex;
  /* position: relative;
  z-index: 10; */
}

.search-icon {
  display: none;
}

.search-input {
  width: 100%;
  color: var(--text-primary);
  background: transparent;
  border-radius: 2rem;
  border: 1px solid var(--text-secondary);
  padding: 1.2rem;
  font-family: inherit;
  font-weight: 300;
  transition: var(--trans-04);
}

.search-input::placeholder {
  font-style: italic;
  font-weight: 300;
  color: var(--text-secondary);
}

.right-section {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 60%;
}

.header-items {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.header-items i {
  cursor: pointer;
}

#mode-toggle .fa-sun {
  display: none;
}

body.light #mode-toggle .fa-moon {
  display: none;
}

body.light #mode-toggle .fa-sun {
  display: inline;
}

.dashboard-sections {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
  margin-top: 2rem;
}

/* ---------- Debit Card Section ---------- */
.debit-card-section .card-container {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.debit-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  min-width: 60%;
  padding: 2rem;
  border-radius: 1.4rem;
  background: var(--primary-color);
}

.debit-card .card-name,
.debit-card .date-and-visalogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.debit-card .card-name .name {
  font-size: 2rem;
  font-weight: 600;
}

.debit-card .card-name .card-type {
  font-size: 1.2rem;
  font-weight: 300;
}

.debit-card img {
  border-radius: 0.8rem;
  width: 5rem;
}

.debit-card .card-number {
  font-size: 2.4rem;
  letter-spacing: 1.5px;
}

.add-btn-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background: var(--bg-topcard);
  border-radius: 1.4rem;
  width: 25%;
  padding: 2.5rem 0;
}

.add-btn {
  border: none;
  border-radius: 1.2rem;
  background: var(--bg-main);
  padding: 2.5rem;
  color: var(--text-primary);
  font-size: 2rem;
  cursor: pointer;
  transition: var(--trans-04);
}

.add-btn:hover {
  padding: 2.8rem;
  font-size: 2.3rem;
}

/* ---------- Total Balance Section ---------- */
.balance-section {
  text-align: center;
}

.balance-section .section-title {
  display: flex;
  justify-content: space-between;
}

.section-title .fa-regular {
  color: var(--text-secondary);
  cursor: pointer;
}

.section-title .fa-eye-slash,
.section-title .fa-eye.active {
  display: none;
}

.section-title .fa-eye,
.section-title .fa-eye-slash.active {
  display: inline;
}

.balance-section .amount {
  font-size: 4rem;
  margin-top: 2rem;
  font-weight: 400;
}

.balance-section #amount-hidden,
#amount-seen.active {
  display: none;
  letter-spacing: 0.5rem;
  font-weight: 800;
  font-size: 8rem;
}

#amount-seen,
#amount-hidden.active {
  display: block;
}

.balance-section p {
  color: var(--text-secondary);
}

.balance-section .buttons-container {
  padding: 1rem;
  border-radius: 1.2rem;
  background-color: var(--bg-topcard);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.balance-section .buttons-container button {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--bg-main);
  flex-grow: 1;
  color: var(--text-primary);
  font-size: 1.5rem;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  transition: var(--trans-04);
}

.balance-section .buttons-container button:hover {
  padding: 1.1rem;
  font-size: 1.6rem;
}

/* ---------- Transactions Section ---------- */
section .transaction-section {
  gap: 1rem;
}

.transaction-section .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-section .section-header div {
  width: 3rem;
  height: 3rem;
  border-radius: 0.6rem;
  background: var(--bg-topcard);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-secondary);
  cursor: pointer;
}

.transaction-section .section-header div:hover {
  color: var(--text-primary);
  font-size: 1.2rem;
}

table {
  border-collapse: collapse;
}

td {
  padding: 1rem 0;
  white-space: nowrap;
}

.list-item td:first-child > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list-item div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list-item img {
  width: 3rem;
}

.list-item .detail {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: center;
  align-items: start;
}

.list-item .detail .name {
  font-size: 1.5rem;
}

.list-item .detail .timestamp {
  color: var(--text-secondary);
}

.list-item .other-details {
  font-size: 1.5rem;
}

.other-details {
  text-align: left;
  flex-wrap: nowrap;
}

.list-item .subtraction {
  color: var(--text-secondary);
}

.category {
  font-weight: 300;
  color: var(--text-secondary);
}

.status {
  font-weight: 300;
  color: var(--success-color);
}

/* ---------- Expenses guage Section ---------- */
.guage-container {
  position: relative;
  width: 65%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.guage-value {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.guage-value h3 {
  font-size: 2.6rem;
}

.guage-value p {
  font-size: 1.5rem;
  color: var(--text-secondary);
}

.amount-display-container {
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--bg-topcard);
  font-size: 1.5rem;
  margin: 0 10%;
}

.amount-display-container .caption {
  color: var(--text-secondary);
}

/* ============ LIGHT MODE COLORS ============ */

body.light .sidebar-nav.light {
  color: var(--text-secondary-light);
  background: var(--bg-maincard-light);
}

body.light .sidebar-nav .brandname-and-logo p {
  color: var(--text-primary-light);
}

body.light .settings-menu li a:hover {
  background: var(--bg-topcard-light);
}

body.light .inactive-menu-item a:hover,
body.light .settings:hover {
  color: var(--cta-text-primary-hover-light);
}

body.light .main-menu a {
  color: var(--text-secondary-light);
}

body.light .brand-msg span {
  color: var(--text-primary-light);
}

body.light .welcome-msg p {
  color: var(--text-secondary-light);
}

body.light .search-input {
  color: var(--text-primary-light);
  border: 1px solid var(--text-secondary-light);
}

body.light .search-input::placeholder {
  color: var(--text-secondary-light);
}

body.light .add-btn-container {
  background: var(--bg-topcard-light);
}

body.light .add-btn {
  background: var(--bg-main-light);
  color: var(--text-primary-light);
}

body.light .section-title .fa-regular {
  color: var(--text-secondary-light);
}

body.light .balance-section p {
  color: var(--text-secondary-light);
}

body.light .balance-section .buttons-container {
  background-color: var(--bg-topcard-light);
}

body.light .balance-section .buttons-container button {
  background: var(--bg-main-light);
  color: var(--text-primary-light);
  box-shadow: var(--shadow-03);
}

body.light .transaction-section .section-header div {
  background: var(--bg-topcard-light);
  color: var(--text-secondary-light);
}

body.light .transaction-section .section-header div:hover {
  color: var(--text-primary-light);
}

body.light .list-item .detail .timestamp {
  color: var(--text-secondary-light);
}

body.light .list-item .subtraction {
  color: var(--text-secondary-light);
}

body.light .category {
  color: var(--text-secondary-light);
}

body.light .guage-value p {
  color: var(--text-secondary-light);
}

body.light .amount-display-container {
  background: var(--bg-topcard-light);
}

body.light .amount-display-container .caption {
  color: var(--text-secondary-light);
}
