/* ======== SIDEBAR ======== */

.sidebar-nav {
  min-height: 100vh;
  width: 20rem;
  padding: 2rem;
  color: var(--text-secondary);
  background: var(--bg-maincard);
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar-nav .toggle {
  position: absolute;
  top: 5%;
  right: -1.3rem;
  font-size: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
  background-color: var(--primary-color);
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.sidebar-nav .brandname-and-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.sidebar-nav .brandname-and-logo img {
  width: 4rem;
  border-radius: 20%;
}

.sidebar-nav .brandname-and-logo p {
  color: var(--text-primary);
  font-size: 2rem;
  font-weight: 700;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 25rem;
}

.main-menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-menu .dashboard-tab {
  background-color: var(--primary-color);
  color: var(--text-primary);
  border-radius: 1rem;
  padding: 1.5rem;
}

.inactive-menu-item a {
  margin-left: 1.5rem;
  transition: var(--trans-03);
}

.settings {
  border: none;
  color: inherit;
  font-size: 1.5rem;
  font-family: inherit;
  background: transparent;
  margin-left: 1.5rem;
  transition: var(--trans-03);
}

.inactive-menu-item a:hover,
.settings:hover {
  color: var(--cta-text-primary-hover);
}

.settings span {
  margin-left: 1rem;
}

.main-menu a {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-secondary);
}

.sidebar-footer {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.other-menu {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
  color: var(--text-accent);
}

.brand-msg {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
}

.brand-msg span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-primary);
}

.brand-msg img {
  width: 2rem;
  border-radius: 0.3rem;
}

.brand-msg p {
  font-size: 0.85rem;
}

/* ======== MAIN CONTENT ======== */

.dashboard-main-content {
  height: 100vh;
  flex-grow: 1;
  margin-left: 21rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.dashboard-main-content header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.welcome-msg h3 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.welcome-msg p {
  font-size: 1.4rem;
  color: var(--text-secondary);
}

.search-bar-container {
  width: 40%;
}

.search-input {
  width: 100%;
  padding: 1.2rem;
  border-radius: 2rem;
  font-weight: 300;
  background: transparent;
  border: 1px solid var(--text-secondary);
  color: var(--text-primary);
}

.search-input::placeholder {
  font-style: italic;
  font-family: "Font Awesome 7 Free";
  font-weight: 600;
}

.header-items {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.header-items i {
  cursor: pointer;
}

.dashboard-sections {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
  margin-top: 2rem;
}

/* ---------- Debit Card Section ---------- */
.debit-card-section .card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.debit-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  min-width: 70%;
  padding: 2rem;
  border-radius: 1.4rem;
  background: var(--primary-color);
}

.debit-card .card-name,
.debit-card .date-and-cardlogo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.debit-card .card-name .name {
  font-size: 2rem;
  font-weight: 600;
}

.debit-card .card-name .card-type {
  font-size: 1.2rem;
  font-weight: 300;
}

.debit-card img {
  border-radius: 0.8rem;
}

.debit-card .card-number {
  font-size: 2.4rem;
  letter-spacing: 1.5px;
}

.fa-cc-visa {
  font-size: 3rem;
}

.add-btn-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  background: var(--bg-topcard);
  border-radius: 1.4rem;
  width: 25%;
  padding: 2.5rem 0;
}

.add-btn {
  border: none;
  border-radius: 1.2rem;
  background: var(--bg-main);
  padding: 2.5rem;
  color: var(--text-primary);
  font-size: 2rem;
  cursor: pointer;
  transition: var(--trans-04);
}

.add-btn:hover {
  padding: 2.8rem;
  font-size: 2.3rem;
}

/* ---------- Total Balance Section ---------- */
.balance-section {
  text-align: center;
}

.balance-section .amount {
  font-size: 4rem;
  margin-top: 2rem;
}

.balance-section p {
  color: var(--text-secondary);
}

.balance-section .buttons-container {
  padding: 1rem;
  border-radius: 1.2rem;
  background-color: var(--bg-topcard);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.balance-section .buttons-container button {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--bg-main);
  flex-grow: 1;
  color: var(--text-primary);
  font-size: 1.5rem;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  transition: var(--trans-04);
}

.balance-section .buttons-container button:hover {
  padding: 1.1rem;
  font-size: 1.6rem;
}

/* ---------- Transactions Section ---------- */
.transaction-section .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-section .section-header div {
  width: 3rem;
  height: 3rem;
  border-radius: 0.6rem;
  background: var(--bg-topcard);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-secondary);
  cursor: pointer;
}

.transaction-section .section-header div:hover {
  color: var(--text-primary);
}

.transaction-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-item div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list-item .detail {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: center;
  align-items: start;
}

.list-item .detail dt {
  font-size: 1.5rem;
}

.list-item .detail dd {
  color: var(--text-secondary);
}

.list-item p {
  font-size: 1.5rem;
}

.list-item .subtraction {
  color: var(--text-secondary);
}

/* ---------- Expenses guage Section ---------- */
.guage-container {
  position: relative;
  width: 65%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.guage-value {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.guage-value h3 {
  font-size: 2.6rem;
}

.guage-value p {
  font-size: 1.5rem;
  color: var(--text-secondary);
}

.amount-display-container {
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--bg-topcard);
  font-size: 1.5rem;
  margin: 0 10%;
}

.amount-display-container .caption {
  color: var(--text-secondary);
}
