/* ============ LARGE (Laptops): 1024px - 1280px ============ */

@media (max-width: 72rem) {
  /* 1150px / 16px = 72rem */

  html {
    font-size: 56.2%; /* (9px/16px) x 100 = 56.2% */
  }
}

/* ============ MEDIUM (Tablets): 768px - 1023px ============ */

@media (max-width: 43rem) {
  /* 690px / 16px = 43rem */

  html {
    font-size: 50%; /* (8px/16px) x 100 = 50% */
  }

  .entry-page-container {
    gap: 3.5rem;
    margin: 0rem 9rem;
  }

  .logo img {
    width: 13rem;
  }

  .entry-message h2,
  .signin-page-container h2 {
    font-size: 4rem;
  }

  .entry-message p,
  .signin-page-container p {
    font-size: 1.8rem;
  }

  .signin-btn {
    width: 100%;
  }

  .signin-page-container {
    margin: 0rem 4rem;
  }

  .branding-and-trust-panel header img {
    width: 7rem;
  }

  .headline-container h2,
  .form-title h2 {
    font-size: 2.8rem;
  }

  .trust-indicators {
    font-size: 1.2rem;
  }

  .trust-indicators span {
    margin-right: 2rem;
  }

  .trust-indicators .fa-solid {
    font-size: 1.6rem;
  }

  .signup-form-container {
    padding: 1.5rem 6rem;
  }

  .error {
    font-size: 1rem;
  }

  #signup-form .small-txt {
    text-align: left;
  }

  .small-txt {
    font-size: 1.1rem;
  }
}

/* ============ SMALL (Phone landscape): 576px - 767px ============ */

@media (max-width: 32rem) {
  /* 510px / 16px = 32rem */

  html {
    font-size: 43.8%; /* (7px/16px) x 100 = 43.8% */
  }

  .entry-page-container,
  .signin-page-container {
    gap: 3rem;
  }

  .logo img {
    width: 10rem;
  }

  .entry-message h2,
  .signin-page-container h2 {
    font-size: 3.5rem;
  }

  .entry-message p,
  .signin-page-container p {
    font-size: 1.6rem;
  }

  .cta {
    width: 100%;
  }

  form,
  #signup-form {
    width: 100%;
  }

  footer {
    margin-top: 16rem;
  }
}

/* ============ X-SMALL (Phone portrait): < 576px ============ */

@media (max-width: 31rem) {
  /* 498px / 16px = 31rem */

  html {
    font-size: 43.8%; /* (7px/16px) x 100 = 43.8% */
  }

  .entry-page-container {
    gap: 10rem;
    margin: 0rem 5rem;
    padding: 0rem 1rem;
  }

  .entry-page-container main {
    gap: 10rem;
  }

  .logo img {
    width: 9rem;
  }

  .entry-message h2 {
    font-size: 3.2rem;
    margin-bottom: 3rem;
  }

  .cta {
    gap: 6rem;
  }

  form {
    gap: 4rem;
  }

  .form-btn-container {
    margin-bottom: 4rem;
  }

  footer {
    font-size: 0.9rem;
    margin-top: 20rem;
  }

  .signup-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .branding-and-trust-panel {
    padding: 2rem 4rem;
    margin: 1rem 4rem;
    gap: 1rem;
  }

  .branding-and-trust-panel header {
    margin-top: 0rem;
  }

  .branding-and-trust-panel header img {
    width: 5rem;
    border-radius: 1rem;
  }

  .headline-container {
    margin-top: 5rem;
  }

  .trust-indicators {
    margin-top: 5rem;
    font-size: 1rem;
  }

  .signup-form-container {
    padding: 1.5rem 4rem;
  }

  .form-title h2 {
    font-size: 2.5rem;
  }

  #signup-form .small-txt {
    text-align: left;
  }

  .small-txt {
    font-size: 1rem;
  }

  .dashboard-main-content {
    margin-top: 8rem;
    padding: 0 1rem;
    margin-left: 0;
    padding: 0;
  }

  .dashboard-main-content header {
    position: fixed;
    top: 0;
    background: var(--bg-maincard);
    width: 100%;
    padding: 2rem;
  }

  .left-section {
    display: flex;
    gap: 1rem;
  }

  .right-section {
    justify-content: end;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 0.5rem;
    background: none;
  }

  .hamburger span {
    width: 2.4rem;
    height: 2px;
    background-color: var(--text-primary);
  }

  .sidebar-nav {
    display: none;
  }

  .sidebar-nav.active {
    display: flex;
    flex-direction: column;
  }

  .search-bar-container {
    width: auto;
  }

  .search-input {
    display: none;
  }

  .search-input.active {
    display: flex;
    width: 100%;
    padding: 1.2rem;
  }

  .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.3rem;
    background: transparent;
    color: var(--text-secondary);
    border-radius: 50%;
    border: 1px solid var(--text-secondary);
    cursor: pointer;
  }

  .desktop-txt {
    display: none;
  }

  .welcome-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mobile-txt,
  .welcome-msg img {
    display: inline;
  }

  .dashboard-sections {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
  }

  .balance-section {
    order: -1;
  }

  .balance-section .amount {
    font-size: 6rem;
  }

  .debit-card-section .card-container {
    justify-content: space-between;
    gap: 0;
  }

  .debit-card {
    min-width: 70%;
  }

  .debit-card img {
    width: 3.5rem;
  }
}
