/* =============== ENTRY PAGE RESPONSIVENESS =============== */

/* -- LARGE (Laptops): 1024px - 1280px -- */
@media (max-width: 72rem) {
  /* 1150px / 16px = 72rem */

  html {
    font-size: 56.2%; /* (9px/16px) x 100 = 56.2% */
  }
}

/* -- MEDIUM (Tablets): 768px - 1023px -- */
@media (max-width: 43rem) {
  /* 690px / 16px = 43rem */

  html {
    font-size: 50%; /* (8px/16px) x 100 = 50% */
  }

  .entry-page-container {
    gap: 3.5rem;
    margin: 0rem 9rem;
  }

  .logo img {
    width: 13rem;
  }

  .entry-message h2 {
    font-size: 4rem;
  }

  .entry-message p {
    font-size: 1.8rem;
  }

  .signin-btn {
    width: 100%;
  }
}

/* -- SMALL (Phone landscape): 576px - 767px -- */
@media (max-width: 32rem) {
  /* 510px / 16px = 32rem */

  html {
    font-size: 43.8%; /* (7px/16px) x 100 = 43.8% */
  }

  .entry-page-container {
    gap: 3rem;
  }

  .logo img {
    width: 10rem;
  }

  .entry-message h2 {
    font-size: 3.5rem;
  }

  .entry-message p {
    font-size: 1.6rem;
  }

  .cta {
    width: 100%;
  }
}

/* -- X-SMALL (Phone portrait): < 576px -- */
@media (max-width: 31rem) {
  /* 498px / 16px = 31rem */

  html {
    font-size: 43.8%; /* (7px/16px) x 100 = 43.8% */
  }

  .entry-page-container {
    gap: 10rem;
    margin: 0rem 5rem;
    padding: 0rem 1rem;
  }

  .entry-page-container main {
    gap: 10rem;
  }

  .logo img {
    width: 9rem;
  }

  .entry-message h2 {
    font-size: 3.2rem;
    margin-bottom: 3rem;
  }

  .cta {
    gap: 6rem;
  }

  footer {
    margin-top: 22rem;
    font-size: 0.9rem;
  }
}
