.signup-page-container {
  color: var(--text-primary);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  height: 100vh;
}

/* ===== LEFT COLUMN - BRANDING & TRUST SECTION ===== */
.branding-and-trust-panel {
  padding: 0 1rem;
  margin: 1rem 0 1rem 2rem;
  border-radius: 1.5rem;
  background-image: url(../assets/signup-page-bg-img.jpg);
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.branding-and-trust-panel header {
  margin-top: 4rem;
}

.branding-and-trust-panel header img {
  width: 10rem;
  border-radius: 1.4rem;
}

.headline-container {
  margin-top: 10rem;
}

.headline-container h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
}

.headline-container p {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 300;
  margin-top: 2rem;
}

.trust-indicators {
  margin-top: 15rem;
  font-size: 1.3rem;
  text-align: center;
  color: var(--text-secondary);
}

.trust-indicators span {
  margin-right: 1rem;
}

.trust-indicators .fa-solid {
  color: var(--primary-color);
  font-size: 2rem;
}

/* ===== RIGHT COLUMN - FORM SECTION ===== */
.signup-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 1.5rem 8rem;
}

.form-title h2 {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

.form-title p {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin-top: 1rem;
}

#signup-form {
  width: 90%;
}

#signup-form .small-txt {
  text-align: center;
}

.small-txt {
  font-weight: 300;
  font-size: 1.2rem;
}

.small-txt strong {
  text-decoration: underline;
}

.small-txt a {
  font-size: 1.2rem;
}

.error {
  color: var(--text-accent);
  font-size: 1.1rem;
}
