:root {
  /* ======== COLORS (Dark Mode) ======== */
  --bg-main: #060606;
  --bg-maincard: #171717;
  --bg-topcard: #272626;

  --primary-color: #468646;
  --primary-color-hover: #399739;
  --cta-bg-primary: #fdfdfd;
  --cta-text-primary: #060606;
  --cta-bg-primary-hover: #060606;
  --cta-text-primary-hover: #fdfdfd;

  --text-primary: #f8fafc;
  --text-secondary: #9f9c9c;
  --text-accent: #fd1d1d;

  --success-color: #2ad12a;

  /* ======== COLORS (Light Mode) ======== */
  --bg-main-light: #f8fafc;
  --bg-maincard-light: #ffffff;
  --bg-topcard-light: #f1f3f5;

  --cta-bg-primary-light: #060606;
  --cta-text-primary-light: #ffffff;
  --cta-bg-primary-hover-light: #1a1a1a;
  --cta-text-primary-hover-light: #ffffff;

  --text-primary-light: #060606;
  --text-secondary-light: #6b7280;

  /* ======== Shadows ======== */
  --shadow-01: 0 1px 6px #505050;
  --shadow-02: 0 1px 4px #444;
  --shadow-03: 0 1px 4px #333232;

  /* ======== Transitions ======== */
  --trans-03: all 0.1s ease;
  --trans-04: all 0.2s ease;
  --trans-05: all 0.3s ease;
  --trans-06: all 0.4s ease;
}
